$bg-color : #000000;
$font-color: #ffffff;
$a-color:#43A4FF;
$hover-a-color:#FFB21A;
$shadow-color: #000000;
$bg-followBar: #222222;
$bg-btn: #255CFF;
$btn-border-color: #43A4FF;
$bg-btn-hover: #FFB21A;
$btn-hover-border: #FFA718;

$note1-color: #43A4FF;
$note2-color: #2AFA33;
$note3-color: #FFFF11;
$note4-color: #FFB21A;
$note5-color: #FF434F;
