html {
    padding: 0 15%;
    align-content: center;
    background-color: #000000;

}

body {
    align-content: center;
    background: #CCCCCC;
    color: white;
    box-shadow:2px 2px 10px 10px #5C5C5C;
}
header h1{
    font-size: 3em;
    text-align: center;
}


h1 {
    padding-left: 1%;
    text-align: left;
    font-family: sans-serif;
    font-size: x-large;
    color: #9E009E;
    margin-bottom: 0px;
}
h3 {
    color: #FF2626;
    margin: 5px;
    display: inline-block;
}

table{
    margin-top: 50px;
    color: #0096AD;
    width: 100%;
}

div img{
    width: 50%;
    height: auto;
}
.row:after {
    clear: both;
    content: " ";
    display: table;
}

.col{
    color: black;
    margin: 2%;
    float: left;
    width: 26%;
    padding: 0.5%;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    border-style: solid;
    border-width: medium;
    border-color: #9E009E;

}

hr.portfolio {
    width:99%;
    height:2px;
    background: #9E009E;
}

hr.about {
    width:99%;
    height:2px;
    background: #FF2626;
}

